@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* body elements above - Next section top header line only */

img {
    border: 2px solid black;
}

.tophead {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #f9faf8;
    padding: 24px; 

}

.topleft {
    font-size: 24px;
}

.topright {
    display: flex;

}

/* end of upper header line. below start of top section of page */

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.attention {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.headsplit {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 48px;
    margin-left: 16px;

}

.headsub {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
}

#signuptop {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px; 
    margin-bottom: 16px;
}

.n-one {
    display: flex;
    flex: 1;
    margin: 16px;
}

/* end of top section. start of section two. */

.body {
    background-color: lightgrey;
    display: flex;
    flex: 1;
    flex-direction: column;
    
    align-items: center ;
    padding-bottom: 32px;
    
}

.headtwo {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.picturealign {
    display: flex;
    flex: 1;
    gap: 2em;
}

.pictext {
    font-weight: normal;
    font-size: 16px;
    display: flex; 
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.subhead {
    display: flex; 
    flex-shrink: 2;
    flex-wrap: wrap;
    width: 128px;
}
/* end of section two. start of section three. */

.tail {
    background-color: #e5e7eb;
    
}

#quotetext {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0px;
}

#quoteauthor {
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
}

.quote {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 128px;
    padding-right: 128px;
}

/* end of section three. start of main footer */

.footer {
    background-color: whitesmoke;


}

/* end of main footer. start of bottom footer line */

.bottomfoot {
    background-color: #1F2937;
}


/*end of css page - any misc. comments below.


*/